*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 15px;
}

#profile-name{
    font-style: italic;
    color: seagreen;
}

#profile-pic{
    height: 150px;
    width: 150px;
    border: 3px solid seagreen;
}

