*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 300px;
    width: 500px;
    /* border: 1px solid red; */
    /* display: flex; */
}

#container{
    height: 100%;
    width: 100%;
    border: 2px solid gray;

}

#cover-photo{
    height: 90px;
    width: 90px;
    position: relative;
    top: 45px;
    left: 20px;
    border-radius: 50%;
   
}


#banner{
    height: 90px;
    width: 100%;

    background-color: dodgerblue;

}

#user-info{
    height: 210px;
    width: 100%;
    font-style: italic;

}

#gps{
    height: 20px;
    width: 15px;
    margin-left: 20px;
}



#name{
    position: relative;
    top: 20px;
    left: 20px;
}

p{
    margin: 0;
    margin-left: 20px;
}

#gear{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}