body{
    background-color: bisque;

}

h1{
    color: chocolate;
    background-color:brown;
    font-size: 50px;
    text-align:center; 

}

#slogan{
    color: red;
    text-align: right;
    font-size: 20px;
    font-style:italic;
    font-family: cursive;
    text-decoration: underline;

}

#fax{
    color: blue;

}

li{
   color:darkolivegreen;
   font-weight: bold;

}

.crossed-out{
    text-decoration: line-through;
    font-size: 30px;

}

.is-red{
    color: red;

}

button{
    background-color: aquamarine;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;

}

#middle-btn{
    height: 200px;
    width: 100px;

}

.round-btn{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: red;

}

#last-btn{
    border-radius: 15px;
    width: 200px;

}

.shadow{
    box-shadow: 30px -20px 10px rgb(164, 95, 95);

}

/*
h1 is the selector
color is the css property
chocolate is the value
color: chocolate; --> this combo of property + value = css rule
selectors: 
to change all/whole element (example: p, h1, h3)-> use p, or h1, h3
select only one element and apply some style to one elemnent only-> id. uses #
select multiple elements and give multiple elements similar style-> class. uses .
*/