*{
    /* color: hotpink; */
    /* border: 5px solid black;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* this says to include the padding and border in the calculation for the height*/
    font-family: monospace;
 }
 
 
 body{
     background-color: aquamarine;
     padding: 20px;
 }
 
 
 h1{
     color: blue;
     /* border: 1px solid black; */
     margin-bottom: 20px;
 }
 
 .red-font{
     color: red;
 }
 
 #purp{
     color: purple;
 }
 
 
 /* 
 #header>p  means select any p tag that is a direct child of #header
 #header p means slect any p tag that is a descendant of #header
 */
 
 /* #header p{
   font-family: cursive;  
   color: red;
   font-size: 24px;
 } */
 
 #header{
     border: 1px solid black;
     text-align: center;
     background-color: bisque;
     padding: 5px;
     height: 200px;
     overflow-y: scroll;
     margin-bottom: 20px;
 }
 
 #slogan{
     margin-bottom: 10px;
 }
 
 #header> button{
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 5px; */
    /* padding: 10px 20px 10px 20px; */
    padding: 10px;
    height: 50px;
    width: 100px;
 }
 
 #header > p{
     line-height: 20px;
 }
 
 
 #left-bar{
     height: 300px;
     background-color: aqua;
     border: 1px solid black;
     width: 200px;
     display: inline-block;
     vertical-align: top;
 }
 
 #main{
     height: 500px;
     background-color: brown;
     width: 600px;
     display: inline-block;
     padding: 20px;
 }
 
 .blue-box{
     /* height: 150px;
     width: 150px; */
     padding: 20px;
     background-color: blue;
     border: 1px solid black;
     display: inline-block;
     margin-right: 30px;
     border-radius: 50%;
     overflow: hidden;
 }
 
 .blue-box>img{
     border-radius: 50%;
 }
 
 #info{
     height: 150px;
     background-color: deepskyblue;
     margin-top: 30px;
 }
 